+- Рабочая игра.
- Отдельная страница для окна настроек.
	- Запоминать выбранный тип игры и параметры пользовательской игры.
- Отдельная страница для окна рекордов.
	- Сохранение и загрузка рекордов.
- Изменить цвет фона игры на серый, либо добавить заливку.